@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Lexend+Deca:wght@100..900&display=swap');






* {
    padding: 0px;
    margin: 0px;
}

#header {
    background-color: #96049C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.container {
    display: flex;
    justify-content: center;
    margin-right: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    color: white;
    gap: 50px;

}

/* QUEM SOMOS */

#whoRWEBox {

    margin: 40px;
    display: flex;
    flex-direction: row;
    gap: 50px;


}

#boxTxt {
    justify-content: center;

}

#whoRWETxt {
    font-size: 21px;
}

#titleRWE,
#propTxt {
    font-family: "Luckiest Guy", cursive;
    color: #9A05A2;
    font-size: 34px;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;


}

/* FIM QUEM SOMOS */

/* NOSSAS PROPOSTAS */

#titleProp {

    display: flex;
    justify-content: center;
}

#props {
    margin-top: 150px;
}

.boxesProp {
    background-color: #BAB3B3;
    width: 200px;
    height: 400px;
    background-color: #ccc;
    border: 3px solid;
    border-color: #96049C;
    border-radius: 10px;

}

#boxProp {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 70px;
    margin-top: 100px;

}

.propTitle {
    margin-top: 5px;
    text-align: center;
    font-family: "Lexend Deca", sans-serif;
    font-size: 22px;
}

.txtProps {
    font-size: 22px;
    font-family: "Figtree", sans-serif;
    margin: 10px;
}



/* FIM NOSSAS PROPOSTAS */

#imgLogo {

    border-radius: 25px;
    border: 2px solid black;
}

a {
    font-family: "Koulen", sans-serif;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(194, 188, 188);
}


@media screen and (max-width: 425px) {
    a {
        font-size: 10px;
    }

    #whoRWEBox {

        flex-direction: column;
        gap: 20px;
    }

    nav {
        gap: 10px;
    }

    #logoImg {
        margin-left: auto;
        margin-right: auto;
    }

    .container {

        margin-right: 30px;
    }
}

@media screen and (max-width: 660px) {
    a {
        font-size: 20px;
    }

    #whoRWEBox {

        flex-direction: column;
        gap: 20px;
    }

    #logoImg {
        margin-left: auto;
        margin-right: auto;
    }

    nav {
        gap: 10px;
    }

    .container {

        margin-right: 30px;
    }
}

@media screen and (max-width: 320px) {
    a {
        font-size: 4px;
    }

    #whoRWEBox {

        flex-direction: column;
        gap: 20px;
    }

    #logoImg {
        margin-left: auto;
        margin-right: auto;
    }

    nav {
        gap: 5px;
    }

}

@media screen and (max-width: 375px) {
    a {
        font-size: 15px;
    }

    #whoRWEBox {

        flex-direction: column;
        gap: 20px;
    }

    #logoImg {
        margin-left: auto;
        margin-right: auto;
    }

    nav {
        gap: px;
    }

    .container {

        margin-right: 30px;
    }
}

@media screen and (max-width: 430px) {
    a {
        font-size: 15px;
    }

    #logoImg {
        margin-left: auto;
        margin-right: auto;
    }

    #whoRWEBox {

        flex-direction: column;
        gap: 20px;
    }

    nav {
        gap: px;
    }

    .container {

        margin-right: 30px;
    }
}