@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,300..700;1,300..700&display=swap');




* {
    padding: 0px;
    margin: 0px;
}

#header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.container {
    display: flex;
    justify-content: center;
    margin-right: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    color: white;
    gap: 50px;
}

/* QUEM SOMOS */

#whoRWEBox {
    margin: 40px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

#boxTxt {
    justify-content: center;
}

#whoRWETxt {
    color: white;
    font-size: 21px;
}

#titleRWE,
#propTxt,
#titleMembers {
    font-family: "Luckiest Guy", cursive;
    color: #c39152;
    font-size: 34px;
    text-align: center;
}

/* FIM QUEM SOMOS */

/* NOSSAS PROPOSTAS */

#titleProp {

    display: flex;
    justify-content: center;
}

#propostas {
    margin-top: 100px;
}

.boxesProp {
    width: 200px;
    height: 400px;
    background-color: white;
    border: 3px solid;
    border-color: #c39152;
    border-radius: 10px;
}

#boxProp {
    display: flex;
    justify-content: center;
    place-items: center;
    gap: 70px;
    margin-top: 100px;
}

.propTitle {
    margin-top: 5px;
    text-align: center;
    font-family: "Lexend Deca", sans-serif;
    font-size: 22px;
}

.txtProps {
    font-size: 22px;
    font-family: "Figtree", sans-serif;
    margin-left: 10px;
    margin-right: 4px;
}



/* FIM NOSSAS PROPOSTAS */

/* NOSSA EQUIPE INICIOS */

#memberTitle {

    display: flex;
    justify-content: center;
    padding-top: 120px;
}

#membros {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#membersBoxes {

    border-radius: 40px;
    display: grid;
    justify-content: center;
    gap: 2px;
    row-gap: 50px;
    grid-template-columns: 300px 300px 300px;
    margin-top: 90px;
}

.boxTitle {

    color: #c39152;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Luckiest Guy", cursive;

}


.memberBox {

    width: 220px;
    height: 50px;
    background-color: white;
    border-radius: 5px;
    border-color: #c39152;
    border-width: 3px;
    border-style: solid;

}

.inMembersBoxes {

    text-align: center;
    justify-content: center;
    place-items: center;
    display: flex;
    gap: 10px;
    flex-direction: column;



}

.membersName {

    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    line-height: 50px;
    font-family: "Mohave", sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

/* NOSSA EQUIPE FIM*/

#imgLogo {

    border-radius: 25px;
    border: 2px solid black;
}

a {
    font-family: "Koulen", sans-serif;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

a:hover {
    color: #c39152;
}


@media screen and (max-width: 425px) {
    a {
        font-size: 10px;
    }

    #boxProp {
        grid-template-columns: 200px 200px;
        display: grid;
        margin-left: auto;
        place-items: center;
        margin-right: auto;
        gap: 10px;

    }

    #whoRWEBox {

        flex-direction: column;
        gap: 20px;
    }

    nav {
        gap: 10px;
    }

    #logoImg {
        margin-left: auto;
        margin-right: auto;
    }

    .container {

        margin-right: 30px;
    }

    #membersBoxes {

        display: flex;
        flex-direction: column;

    }
}

@media screen and (max-width: 660px) {
    a {
        font-size: 20px;
    }

    #boxProp {
        grid-template-columns: 200px 200px;
        display: grid;
        margin-left: auto;
        place-items: center;
        margin-right: auto;
        gap: 10px;

    }

    #whoRWEBox {

        flex-direction: column;
        gap: 20px;
    }

    #logoImg {
        margin-left: auto;
        margin-right: auto;
    }

    nav {
        gap: 10px;
    }

    .container {

        margin-right: 30px;
    }
}

@media screen and (max-width: 320px) {
    a {
        font-size: 4px;
    }

    .boxesProp:active {
        height: 200px;
    }

    #boxProp {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        place-items: center;
        margin-right: auto;
        gap: 10px;

    }

    .boxesProp {

        overflow: hidden;
        height: 50px;
        width: 250px;

    }

    #whoRWEBox {

        flex-direction: column;
        gap: 20px;
    }

    #logoImg {
        margin-left: auto;
        margin-right: auto;
    }

    nav {
        gap: 5px;
    }

}

@media screen and (max-width: 375px) {
    a {
        font-size: 15px;
    }

    .boxesProp {
        overflow: hidden;
        height: 50px;
        width: 250px;
    }

    #boxProp {

        display: flex;
        flex-direction: column;
        margin-left: auto;
        place-items: center;
        margin-right: auto;
        gap: 10px;

    }

    #whoRWEBox {

        flex-direction: column;
        gap: 20px;
    }

    #logoImg {
        margin-left: auto;
        margin-right: auto;
    }

    nav {
        gap: px;
    }

    .container {

        margin-right: 30px;
    }

    #membersBoxes {

        display: flex;
        flex-direction: column;

    }

}

@media screen and (max-width: 430px) {
    a {
        font-size: 15px;
    }

    .boxesProp {

        overflow: hidden;
        height: 50px;
        transition: ease-in 0.4s;
        width: 300px;
    }




    #boxProp {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        place-items: center;
        margin-right: auto;
        gap: 5px;

    }

    #logoImg {
        margin-left: auto;
        margin-right: auto;
    }

    #whoRWEBox {

        flex-direction: column;
        gap: 20px;
    }



    .container {

        margin-right: 30px;
    }

    #membersBoxes {

        display: flex;
        flex-direction: column;

    }
}

@media screen and (max-width: 768px) {

    #membersBoxes {

        grid-template-columns: auto auto;

    }


}

@media screen and (max-width: 1024px) {}