@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');



* {
    padding: 0px;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
    scrollbar-color: rgb(37, 37, 37)black;
}

.asProp {
    font-family: "Staatliches", sans-serif;
}



#header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.container {
    display: flex;
    justify-content: center;

}

#whyera {
    font-family: "Luckiest Guy", cursive;
    color: #c39152;
    font-size: 34px;
    text-align: center;
}

#whyerabox {
    padding-left: 100px;
    padding-right: 100px;
}

#textera {
    color: white;
    padding-top: 10px;
    color: white;
    font-size: 25px;
}

nav {
    display: flex;
    justify-content: space-between;
    color: white;
    gap: 50px;

}

/* QUEM SOMOS */

#whoRWEBox {
    margin: 40px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

#boxTxt {
    justify-content: center;
}

#whoRWETxt {
    color: white;
    font-size: 21px;
}

#titleRWE,
#propTxt,
#titleMembers {
    font-family: "Luckiest Guy", cursive;
    color: #c39152;
    font-size: 34px;
    text-align: center;
}

/* FIM QUEM SOMOS */

/* NOSSAS PROPOSTAS */

#titleProp {

    display: flex;
    justify-content: center;
}

#propostas {
    margin-top: 100px;
    margin-bottom: 130px;
}

.boxesProp {
    width: 200px;
    height: 400px;
    background-color: transparent;
    border: 3px solid;
    border-color: #c39152;
    border-radius: 10px;
    transition: all 1s;
}

.propLink {
    font-size: 30px;
    font-family: "Figtree", sans-serif;
    color: white;

}

.propLink {
    color: #c39152;
}

.propLink:hover {
    color: #768ece;
    cursor: pointer;

}

#boxProp {
    display: flex;
    justify-content: center;
    place-items: center;
    gap: 70px;
    margin-top: 100px;
}

.propTitle {
    margin-top: 5px;
    text-align: center;
    font-family: "Lexend Deca", sans-serif;
    font-size: 22px;
    color: white;
    padding-bottom: 20px;
}

.txtProps {
    font-size: 18px;
    font-family: "Figtree", sans-serif;
    margin-left: 10px;
    color: white;
    margin-right: 4px;
}

.boxesProp:hover {
    transform: scale(103%);
}

/* FIM NOSSAS PROPOSTAS */

/* NOSSA EQUIPE INICIO */

#memberTitle {

    display: flex;
    justify-content: center;
}

#membros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 130px;

}

#membersBoxes {

    border-radius: 40px;
    display: grid;
    justify-content: center;
    gap: 2px;
    row-gap: 50px;
    grid-template-columns: 450px 450px;
    margin-top: 90px;
    margin-left: 10px;
    margin-right: 10px;
}

.boxTitle {

    color: #c39152;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Luckiest Guy", cursive;

}


.memberBox {

    width: 220px;
    height: 50px;
    background-color: white;
    border-radius: 5px;
    border-color: #c39152;
    border-width: 3px;
    border-style: solid;

}

.inMembersBoxes {

    text-align: center;
    justify-content: center;
    place-items: center;
    display: flex;
    gap: 10px;
    flex-direction: column;



}

.membersName {

    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    line-height: 50px;
    font-family: "Mohave", sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

/* NOSSA EQUIPE FIM*/

/* FAQ INICIO*/

#titleFaq {

    display: flex;
    justify-content: center;

}

#faq {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 130px;
}

#faqTxt {
    font-family: "Luckiest Guy", cursive;
    color: #c39152;
    font-size: 34px;
    text-align: center;
}

#faqMainBox {



    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 100px;
    gap: 30px;

}

.faqBoxes {
    padding: 8px;
    width: 250px;
    height: auto;
    background-color: white;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    border-color: #c39152;
    transition: all 1s;
}

.txtFaqBox {
    font-family: "Luckiest Guy", sans-serif;
    color: #c39152;
    margin-bottom: 3px;
    font-size: 17px;


}

.contentFaqBox {
    font-family: "Figtree", sans-serif;
    font-size: 22px;
    margin-bottom: 30px;

}

.faqBoxes:hover {
    transform: scale(105%);

}



/* FAQ FIM*/

/* INSTAGRAM INICIO */

#social {
    padding-bottom: 400px;
}

.textoDespedida {
    text-align: left;
    font-size: 25px;
    color: white;

}

#instaTitle {
    font-family: "Luckiest Guy", cursive;
    color: #c39152;
    font-size: 40px;
    text-align: center;
}

.textInsta,
#instaLink {
    font-size: 30px;
    font-family: "Figtree", sans-serif;
    color: white;

}

#instaLink {
    color: #c39152;
}

#instaLink:hover {
    color: #768ece;
    cursor: pointer;

}

#redeSocial {
    text-align: center;
    padding-bottom: 100px;
}

#videoYt {
    display: flex;
    justify-content: center;
}

#instaLink {
    font-family: "Koulen", sans-serif;
    font-size: 30px;
    color: white;
    text-decoration: none;
}


/* INSTAGRAM FIM*/

#imgLogo {

    border-radius: 25px;
    border: 2px solid black;
}

a {
    font-family: "Koulen", sans-serif;
    font-size: 30px;
    color: white;
    text-decoration: none;
    transition: all 0.3s;
}

a:hover {
    color: #c39152;

}

#clickHere,
#clickA {
    font-size: 40px;
}

#clickA {
    color: #c39152;
}



@keyframes pulando {

    0% {
        
        color: white;

    }

    50% {
        color: #c39152

    }

    100% {
        color: white;
    }
}

.pulando {

    animation: pulando 0.5s ease-in infinite;
    
}

@media screen and (max-width: 425px) {
    a {
        font-size: 10px;
    }

    #boxProp {
        grid-template-columns: 200px 200px;
        display: grid;
        margin-left: auto;
        place-items: center;
        margin-right: auto;
        gap: 10px;

    }

    #whoRWEBox {

        flex-direction: column;
        gap: 20px;
    }

    nav {
        gap: 10px;
    }

    #logoImg {
        margin-left: auto;
        margin-right: auto;
    }

    .container {

        margin-right: 30px;
    }

    #membersBoxes {

        display: flex;
        flex-direction: column;

    }

    #faqMainBox {
        flex-direction: column;
    }


    .faqBoxes {
        height: auto;
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
        width: auto;
        height: auto;
        padding-bottom: 20px;
    }

    iframe {
        height: 300px;
        width: auto;
    }
}

@media screen and (max-width: 660px) {
    a {
        font-size: 20px;
    }

    #boxProp {
        grid-template-columns: 200px 200px;
        display: grid;
        margin-left: auto;
        place-items: center;
        margin-right: auto;
        gap: 10px;

    }

    #whoRWEBox {

        flex-direction: column;
        gap: 20px;
    }

    #logoImg {
        margin-left: auto;
        margin-right: auto;
    }

    nav {
        gap: 10px;
    }

    .container {

        margin-right: 30px;
    }
}

@media screen and (max-width: 320px) {
    a {
        font-size: 4px;
    }


    #boxProp {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        place-items: center;
        margin-right: auto;
        gap: 10px;

    }

    .boxesProp {

        overflow: hidden;
        height: 50px;
        width: 250px;

    }

    #whoRWEBox {

        flex-direction: column;
        gap: 20px;
    }

    #logoImg {
        margin-left: auto;
        margin-right: auto;
    }

    #navnav {
        display: flex;
        gap: 4px;

    }

    #faqMainBox {
        flex-direction: column;
    }


    .faqBoxes {
        margin-left: 10px;
        margin-right: 10px;
        width: auto;
        height: auto;
        padding-bottom: 20px;
    }



}

@media screen and (max-width: 375px) {
    a {
        font-size: 20px;
    }

    .boxesProp {
        overflow: hidden;
        height: 50px;
        width: 250px;
    }

    #boxProp {

        display: flex;
        flex-direction: column;
        margin-left: auto;
        place-items: center;
        margin-right: auto;
        gap: 10px;

    }

    #whoRWEBox {

        flex-direction: column;
        gap: 20px;
    }

    #logoImg {
        margin-left: auto;
        margin-right: auto;
    }

    #navnav {
        gap: 5px;
    }

    .container {

        margin-right: 30px;
    }

    #membersBoxes {

        display: flex;
        flex-direction: column;

    }

    #faqMainBox {
        flex-direction: column;
    }


    .faqBoxes {
        margin-left: 10px;
        margin-right: 10px;
        width: auto;
        height: auto;
        padding-bottom: 20px;
    }



}

@media screen and (max-width: 430px) {
    a {
        font-size: 13px;
    }

    .boxesProp {

        overflow: hidden;
        height: 50px;
        transition: ease-in 0.4s;
        width: 300px;
    }




    #boxProp {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        place-items: center;
        margin-right: auto;
        gap: 5px;

    }

    #logoImg {
        margin-left: auto;
        margin-right: auto;
    }

    #whoRWEBox {

        flex-direction: column;
        gap: 20px;
    }



    .container {

        margin-right: 30px;
    }

    #membersBoxes {

        display: flex;
        flex-direction: column;

    }

    #faqMainBox {
        flex-direction: column;
    }


    .faqBoxes {
        margin-left: 10px;
        margin-right: 10px;
        width: auto;
        height: auto;
        padding-bottom: 20px;
    }




}

@media screen and (max-width: 768px) {

    #membersBoxes {

        grid-template-columns: auto auto;

    }


    .faqBoxes {
        gap: 5px;
    }


    nav {
        gap: 30px;
    }

    .txtProps {
        font-size: 13px;
    }




}

@media screen and (max-width: 680px) {

    nav {
        gap: 20px;
    }
}

@media screen and (max-width: 1024px) {

    #membersBoxes {

        grid-template-columns: auto auto;

    }

    #boxProp {
        gap: 10px;
    }

    .txtProps {
        font-size: 15px;
    }
}

@media screen and (max-width: 530px) {

    .faqBoxes {
        gap: 2px;

    }

    #faqMainBox {
        gap: 10px;
        margin-right: 2;
        margin-left: 2;
    }

    .boxTitle {
        font-size: 15px;
    }

    #membersBoxes {
        gap: 15px;
    }

}

@media screen and (min-width: 1024px) and (max-width: 1440px) {

    .txtProps {
        font-size: 18px;
    }


    #boxProp {
        display: grid;
        grid-template-columns: 200px 200px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 425px) and (min-width: 320px) {
    .txtProps {
        font-size: 30px;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {

    .txtProps {
        font-size: 15px;

    }

    #boxProp {
        display: grid;
        grid-template-columns: 200px 200px;
        margin-left: 10px;
        margin-right: 10px;
    }

}

@media screen and (max-width: 425px) and (min-width: 320px) {

    .txtProps {
        font-size: 25px;
    }

}

@media screen and (min-width: 426px) and (max-width: 768px) {

    #boxProp {
        display: grid;
        grid-template-columns: 100px;


    }

    iframe {
        height: 400px;
        width: 350px;
    }

}

@media screen and (max-width: 425px) and (min-width: 0px) {

    #divTexto{
        margin-left: 30px;
        margin-right: 30px;
    }
    
}